body {
    background-color: lightGrey;
    margin-left: 100px;
    margin-top: 50px;
}

h4 {
  border: 2px solid black;
  display: inline-block;
  background-color: white;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

img {
  height: 30px;
  width: auto;
  display: inline-block;
  border: 2px solid lightGrey;
  border-radius: 15px;
}

hr {
  color: grey;
  margin-top: 25px;
}

p {
  display:block;
}
